body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
   background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1 {
	font-size: 3rem;
	color: #fff700;
	justify content: center;
}
.btn {
	font-weight: 700;
	border-radius: 300px;
	text-transform: uppercase;
} 
.btn-primary: {
	background-color: #FF6B6B;
	border-color: #FF6B6B;
}
.btn-xl {
	padding: 1rem 2rem;
	background-color: #FF6B6B;
	border-color: #FF6B6B;
	transition: width 1sc;
}
.btn-xl:hover {
	background-color: #E92525;
	border-color: #E92525;
	border-width: 6px;
	width: 350px;
}
hr	{
	border-color: #FF6B6B;
	border-width: 10px;
	max-width: 70px;
}
.buffer {
	height: 100px;
}